{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <form method="post">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <div class="max-w-sm mx-auto bg-white p-8 rounded-2xl shadow-md">
        <h2 class="text-2xl font-semibold text-dark mb-6">Sign in</h2>

        <input type="text" value="{{ last_username }}" name="_username" id="username" class="form-control block w-full border-0 border-b border-gray-400 focus:darkgreen focus:outline-none focus:ring-0 pt-5" autocomplete="username" required autofocus placeholder="Email">
        <input type="password" name="_password" id="password" class="form-control block w-full border-0 border-b border-gray-400 focus:darkgreen focus:outline-none focus:ring-0 pt-5" autocomplete="current-password" required placeholder="Password">
        <input type="hidden" name="_csrf_token" data-controller="csrf-protection" value="{{ csrf_token('authenticate') }}">

        <div class="checkbox mb-3">
            <input type="checkbox" name="_remember_me" id="_remember_me">
            <label for="_remember_me">Remember me</label>
        </div>
        
        <button type="submit"
            class="w-full bg-darkgreen text-white font-semibold py-2 rounded-lg hover:bg-opacity-90 transition mt-5">
            Sign in
        </button>
        </div>

    </form>
{% endblock %}
