{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}
{% block sidebar %}{% endblock %}
{% block header %}{% endblock %}

{% block body %}
    <form method="post">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <div class="max-w-md m-auto bg-white p-12 rounded-2xl shadow-md">
        <img class="w-[160px] h-[40px] place-self-center mb-10" src="{{ asset('images/wobbleit-logo-transparent.png') }}" alt="logo"/>
        
        <input type="text" value="{{ last_username }}" name="_username" id="username" class="form-control input-primary" autocomplete="username" required autofocus placeholder="Email">
        <input type="password" name="_password" id="password" class="form-control input-primary" autocomplete="current-password" required placeholder="Password">
        <input type="hidden" name="_csrf_token" data-controller="csrf-protection" value="{{ csrf_token('authenticate') }}">
        
        <button type="submit"
            class="btn-primary">
            Sign in
        </button>
        <div class="flex justify-center mt-6 gap-1">
        <span class="color-textsecondary">Not a member yet?</span><a class="color-accent font-medium" href="/register">Sign up</a> 
        </div>
        </div>

    </form>
{% endblock %}
