    <header class="bg-silver text-light py-4 shadow-md">
        <div class="container mx-auto flex justify-between items-center px-4">
            <h1 class="text-xl font-bold tracking-wide">wobbleIT</h1>
            <nav class="space-x-4">
                <a href="{{ path('app_login') }}" class="hover:text-primary">Login</a>
                <a href="{{ path('app_register') }}" class="hover:text-primary">Register</a>
            </nav>
        </div>
    </header>