{% extends 'base.html.twig' %}

{% block title %}Hello CatchController!{% endblock %}

{% block body %}

<script src="https://maps.googleapis.com/maps/api/js?key={{ google_maps_key }}"></script>

<div id="map" style="width: 100%; height: 500px;"></div>
<input id="location_name"/>
<script>
  const src = 'https://www.googleapis.com/drive/v3/files/{{ locations_file_id }}?alt=media&key={{ google_drive_key }}';

  function initMap() {
    const map = new google.maps.Map(document.getElementById("map"), {
      zoom: 10,
      center: { lat: 50.8584, lng: 18.8801 }, // środek mapy - Częstochowa
    });

    const kmlLayer = new google.maps.KmlLayer(src, {
      suppressInfoWindows: false,
      preserveViewport: false,
      map: map
    });

    kmlLayer.addListener("click", function(event) {
      const lat = event.latLng.lat();
      const lng = event.latLng.lng();
      const name = event.featureData.name;

      fetch("/api/location/create", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
          "X-Requested-With": "XMLHttpRequest"
        },
        body: JSON.stringify({ name, lat, lng })
      })
        .then(res => res.json())
        .catch(err => {
          console.error("Błąd przy zapisie:", err);
          alert("Nie udało się zapisać lokalizacji.");
        });
    });

    kmlLayer.addListener('click', function(event) {
      const placemark = event.featureData;
      console.log('Kliknięto punkt KML:', placemark.name, placemark.description);
    });
  }

  window.onload = initMap;
</script>

{% endblock %}
