<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}App{% endblock %}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    {% block stylesheets %}{% endblock %}
</head>
<body class="font-inter antialiased bg-primarybg text-gray-600 sidebar-expanded">
    <div id="root">
    <div class="flex h-screen overflow-hidden">
    {% block sidebar %}
        {% include 'partials/sidebar.html.twig' %}
    {% endblock %}
    <div class="relative flex flex-col flex-1 overflow-y-auto overflow-x-hidden">
        {% block header %}
            {% include 'partials/header.html.twig' %}
        {% endblock %}
        <main class="mb-auto container m-auto px-4 py-10">
            {% block body %}{% endblock %}
        </main>
    </div>

    {% block javascripts %}{% block importmap %}{{ importmap('app') }}{% endblock %}{% endblock %}
    </div>
    </div>
</body>
</html>
